footer {
  padding: 20px 0;
  color: white;
  background-color: #222;

  .footer_div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__detail {
      span {
        font-weight: 700;
        // white-space: nowrap;
        color: #949494;
        display: block;
        transition: all .2s;
        line-height: 2.3;
        font-size: 12px !important
      }
    }

    .flex_wrap {
      .icon_movie {
        border-radius: 50%;
        height: 30px px;
        width: 30px;
        margin-right: 15px;
      }
    }

    .group_social {
      .group_content {
        img {
          width: 40px;

          &:last-child {
            padding-left: 10px;
          }
        }
      }
    }
  }

  //   .footer_div {
  //     max-width: 960px;

  //     &.container {
  //       padding: 0;
  //     }

  //     .footer_top {
  //       padding-top: 30px;

  //       .footer_md {
  //         .col-box_50 {
  //           width: 50%;
  //         }

  //         .col-box_20 {
  //           width: 20%;
  //         }

  //         .col-box_30 {
  //           width: 30%;

  //           p {}

  //           .title {
  //             font-size: 14px;
  //           }

  //           .col-item {
  //             font-size: 12px !important;
  //             font-size: 80%;
  //             font-weight: 700;
  //             white-space: nowrap;
  //             color: #949494;
  //             display: block;
  //             transition: all 0.2s;
  //             line-height: 2.3;

  //             p {}
  //           }

  //           .flex_wrap {
  //             a {
  //               width: 30px;
  //               height: 30px;

  //               .img-fluid {
  //                 width: 100%;
  //                 border-radius: 50%;
  //               }
  //             }
  //           }

  //           .group_social {
  //             width: 85px;

  //             p {
  //               color: #fff;
  //               font-size: 14px;
  //               text-align: center;
  //             }

  //             .group_content {
  //               a {
  //                 .img-fluid {
  //                   width: 30px;
  //                   height: 30px;
  //                 }
  //               }
  //             }
  //           }
  //         }
  //       }

  //       .footer_sm {
  //         display: none;
  //         margin: 0;
  //       }

  //       border-bottom: 1px solid #949494;
  //     }

  //     .footer_bottom {
  //       padding: 20px 0;

  //       .img_footer {
  //         text-align: center;

  //         .img-fluid {
  //           width: 80%;
  //           height: auto;
  //         }
  //       }

  //       .info_footer {
  //         padding: 20px;
  //       }
  //     }
  //   }

  //   // @include respond-to("large") {
  //   //   .footer_div {
  //   //     &.container {
  //   //       padding: 0;
  //   //       max-width: 960px;
  //   //     }

  //   //     .footer_bottom {
  //   //       padding: 20px 0;

  //   //       .img_footer {
  //   //         text-align: center;

  //   //         .img-fluid {
  //   //           width: 80%;
  //   //           height: auto;
  //   //         }
  //   //       }

  //   //       .info_footer {
  //   //         padding: 20px;
  //   //       }
  //   //     }
  //   //   }
  //   // }

  //   //   @include respond-to("medium") {
  //   //     .footer_div {
  //   //       &.container {
  //   //         padding: 0;
  //   //         max-width: 720px;
  //   //       }

  //   //       .footer_top {
  //   //         .footer_md {
  //   //           display: none;
  //   //         }
  //   //       }
  //   //     }
  //   //   }

  //   //   @include respond-to("small") {
  //   //     .footer_div {
  //   //       .footer_bottom {
  //   //         padding: 20px 0;

  //   //         .img_footer {
  //   //           text-align: center;

  //   //           .img-fluid {
  //   //             width: 30%;
  //   //             height: auto;
  //   //           }
  //   //         }

  //   //         .info_footer {
  //   //           padding: 20px;
  //   //         }
  //   //       }
  //   //     }
  //   //   }
}