
// colors
$color-white-0:#FFFFFF;
$color-black-0:#000;
$color-red-0:#fb4226;


// breakpoints
$breakpoints: (
  "max-sreen": 1500px,
  "extra-large": 1200px,
  "large": 992px,
  "medium": 769px,
  "small": 576px,
  "verysmall": 500px,
);